name: Build and Push Flatpak

on:
  push:

permissions:
  contents: write # Required to push the built repo back to the branch

jobs:
  flatpak-build:
    runs-on: [self-hosted, ubuntu-codebuild-xlarge]
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Flatpak dependencies
        uses: actions/cache@v4
        with:
          path: .flatpak-builder
          key: flatpak-builder-${{ hashFiles('nz.govt.linz.qgis.json', 'modules/*.json') }}
          restore-keys: |
            flatpak-builder-

      - name: Build Flatpak
        run: |
          flatpak remote-add --if-not-exists --user flathub https://flathub.org/repo/flathub.flatpakrepo

          dbus-run-session flatpak-builder --disable-rofiles-fuse --user --install-deps-from=flathub --repo=repo --force-clean build-dir nz.govt.linz.qgis.json

      - name: Create Bundle
        run: |
          flatpak build-bundle repo linz-qgis.flatpak nz.govt.linz.qgis

      - name: Upload Bundle Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linz-qgis
          path: linz-qgis.flatpak
